<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>LedgerGoogle</servlet-name>
		<servlet-class>ledger.LedgerGoogleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LedgerGoogle</servlet-name>
		<url-pattern>/ledgergoogle</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LedgerAddAttendeeListServlet</servlet-name>
		<servlet-class>ledger.LedgerAddAttendeeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LedgerAddAttendeeListServlet</servlet-name>
		<url-pattern>/ledgeraddattendeelist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LedgerAddFriendServelet</servlet-name>
		<servlet-class>ledger.LedgerAddFriendServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LedgerAddFriendServelet</servlet-name>
		<url-pattern>/ledgeraddfriend</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>